html{
    background: url(bg3.jpg);
}

header{
}


#logo {
    max-width:300px;
    max-height:250px;
    width: auto;
    height: auto;
}

.caixa{
    position: relative;
	width: 940px;
	margin: 0 auto;
}

nav{
    position: absolute;
    top: 120px;
    right: 50px;
}

nav li{
    display: inline;
    padding: 20px;
}

nav a{
    text-transform: uppercase;
    color: rgb(83, 11, 51);
    font-weight: bold;
    font-size: large;
    text-decoration: none;
}

.textos{
    margin-top: 50px;
    margin-left: 300px;
    margin-right: 300px;
}

.tipico{
    background: pink;
    margin-top: 50px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    
}

.descricao{
    margin-top: 30px;
    text-align: justify;
}

footer{
    margin-top: 50px;
    
    text-align: center;
}

footer p{
    background: pink;
    padding-top: 20px;
    padding-bottom: 20px;
}

#logo-roda{
    padding-top: 50px;
    max-width:600px;
    max-height:150px;
    width: auto;
    height: auto;
}