body{

}

.principal{
    background: hotpink;
    padding: 30px;
}

#banner{
    width: 100%;
}


h1{
    text-align: center;
}

p{
    text-align: center;
}

#missao{
    font-size: 20px;
}

em strong{
    color: rgb(69, 12, 145);
}

.beneficios{
    background: rgb(7, 71, 68);
    padding: 20px;
}

h2{
    text-align: center;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.itens{
    font-style: italic;
}

.imagembeneficio{
    width: 50%;
}